.user-profile-container {
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 30px;
  }
  
  .image {
    border-radius: 24px;
    height: 48px;
    width: 48px;
    margin-right: 16px;
  }
  
  .text-container {
    margin-left: 12px;
  }
  
  .name {
    color: #12022f;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  
  .role {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #594d6d;
    margin: 0px;
  }